* {
	font-family: Arial;
}

.border {
	border-top: solid #000;
	border-bottom: solid #000;
	margin: 0 50px 0;
	padding: 0 0 20px;
}

header {
	margin-top: 40px;
}

h1 {
	margin-top: 2px;
	text-transform: uppercase;
}

a:link, a:visited {
	color: black;
	margin-right: 3px;
	font-weight: bold;
	border-right: 1px solid black;
	padding-right: 5px;
}


img {
	float: right;
	margin-top: -150px;
	margin-right: 250px;
	padding: 3px;
	border: 1px solid black;

}

main {
	margin-left: 50px;
}

.content {
	border-top: thin solid #000;
	margin-left: 50px;
	margin-right: 245px;
}

p {
	max-width: 400px;
	font-size: 18px;
}

.main h2 {
	text-transform: uppercase;
	margin-top: 20px;
}

footer {
	text-align: center;
	margin-right: 400px;
	margin-bottom: 10px;
}

#no-border {
	border-style: none;
}

#current-page {
	text-decoration: none;
	font-style: italic;
}

.bar {
	font-size: 20px;
}

#bottom_border{
	border-top: thin solid #000;
	margin: 25px 475px 0px 100px;
}